services:
  web:
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    networks:
      - fasnet
    depends_on:
      - database
      - redis
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  database:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Aa123456
      POSTGRES_DB: auth
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - fasnet
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@mail.com
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - fasnet
    depends_on:
      - database

  redis:
    image: "redis:alpine"
    networks:
      - fasnet
    restart: always

networks:
  fasnet:
    driver: bridge

volumes:
  db-data:
  pgadmin-data:
